<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="margin-20">
                <h4>Add contact</h4>
            </div>
            <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Full Name</label>
                        <input type="text" class="form-control" formControlName="contactName">
                        <small *ngIf="!myForm.controls.contactName.valid" class="text-danger">
                            Full Name is required (minimum 5 characters).
                        </small>
                    </div>
                    <div class="form-group col">
                        <label>Relationship to Student</label>
                        <input type="text" class="form-control" formControlName="contactRelationshipToStudent">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Primary Phone Number</label>
                        <input type="tel" class="form-control" formControlName="contactPhoneNumber">
                    </div>
                    <div class="form-group col">
                        <label>Alt Phone Number</label>
                        <input type="tel" class="form-control" formControlName="contactAltPhoneNumber">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Primary Email</label>
                        <input type="text" class="form-control" formControlName="contactEmail">
                    </div>
                    <div class="form-group col">
                        <label>Alt Email</label>
                        <input type="email" class="form-control" formControlName="contactAltEmail">
                    </div>
                </div>
                <!--students-->
                <div formArrayName="students">
                    <div *ngFor="let student of myForm.controls.students.controls; let i=index"
                        class="panel panel-default">
                        <div class="panel-heading ">
                            <span>Student {{i + 1}}</span>
                            <a *ngIf="myForm.controls.students.controls.length > 1" (click)="removeStudent(i)"
                                style="cursor: default; float: right">
                                X
                            </a>
                        </div>
                        <div class="panel-body" [formGroupName]="i" class="col-md-12 border">
                            <div class="row">
                                <div class="col col-example">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </div>
                                <div class="col col-example">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" formControlName="middlename">
                                </div>
                                <div class="col col-example">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-example">
                                    <label>Gender</label>
                                    <select class="form-control" formControlName="gender" (change)="gender=$event.target.value">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="col col-example">
                                    <label>Date of Birth</label>
                                    <input type="date" class="form-control" formControlName="dob" (change)="student.dob = $event">
                                </div>
                                <div class="col col-example">
                                    <label>Age</label>
                                    <input type="number" class="form-control" formControlName="age">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-example">
                                    <input type="checkbox" (click)="toggleShow( )" class="form-check-input" />
                                    <label class="form-check-label">Allergies/Medical Conditions</label>
                                </div>
                            </div>
                            <!--If the user checks the checkbox then textArea will appear-->
                            <div class="row" *ngIf="isShown" id="divshow">                      
                                <div class="col col-example">
                                    <textarea rows="2" class="form-control" formControlName="allerges">
                                    </textarea>
                                </div>                                    
                            </div>
                            <div class="row">
                                <div class="col col-example">
                                    <label>Select of Day</label>     
                                    <select class="form-control" formControlName="classDay" (change)="classDay=$event.target.value">
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>
                                </div>
                                <div class="col col-example">
                                    <label>Select the class according to age group</label>
                                    <select class="form-control" formControlName="classSelection" (change)="classSelection=$event.target.value">
                                        <option value="Foundition - 5 & 6 years old">Foundition - 5 & 6 years old</option>
                                        <option value="Beginner - 7 & 8 years old">Beginner - 7 & 8 years old</option>
                                        <option value="Intermediate - 9 & 10 years old">Intermediate - 9 & 10 years old</option>
                                        <option value="Proficient - 11 & 12 years old">Proficient - 11 & 12 years old</option>
                                        <option value="Advanced - 13 & 14 years old">Advanced - 13 & 14 years old</option>
                                        <option value="Youth - 15 & 16 years old">Youth - 15 & 16 years old</option>
                                        <option value="Adult - 17 & 18 years old">Adult - 17 & 18 years old</option>
                                    </select>  
                                </div>
                            </div>
                            <div class="row">
                                <div formArrayName="parentGuardians"
                                    *ngFor="let parentGuardian of myForm.controls.students.controls[i].controls.parentGuardians.controls; let j=index"
                                    class="col-md-6">
                                    <div [formGroupName]="j">
                                        <div class="form-group" style="padding-right:0px">
                                            <label>Parent/Guardian {{j + 1}} Full Name</label>
                                            <a *ngIf="student.controls.parentGuardians.controls.length > 1"
                                                (click)="removeParentGuardian(student, j)"
                                                style="cursor: default; float: right">X</a>
                                            <input type="text" class="form-control" placeholder="Enter pg Name"
                                                formControlName="pgName">
                                        </div>

                                    </div>
                                    <a class="pull-right" *ngIf="j == student.controls.parentGuardians.controls.length-1"
                                        (click)="addParentGuardian(student)" style="float: right">Parent/Guardian +</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-20">
                    <a (click)="addStudent()" style="cursor: default; float: right">
                        New student +
                    </a>
                </div>

                <div class="margin-20">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
                <div class="clearfix"></div>

                <div class="margin-20">
                    <pre>form value: <br>{{myForm.value | json}}</pre>
                </div>
            </form>
        </div>
    </div>
</div>