<div class="card m-3">

    <h4 class="card-header">ISG Weekend School Enrollment Wep Application</h4>
  
    <div class="card-body">

		<div class="container">
			<img src="assets/images/isg-image.png" alt="image">
		</div>

		<div class="container">
			<h1>Welcome to the ISG Weekend School Enrollment Web Application.</h1>
		</div>

		<div class="container">	
			To do a <b>New Enrollment</b> for Weekend school, <a routerLink="/contacts/-1">click here</a>.
		</div>

		<div class="container" *ngIf="isAdmin">
			To view the list of all contacts, <a routerLink="/contacts">click here</a>.
		</div>

		<div class="container">
			To view the list of all students, <a routerLink="/students">click here</a>.
		</div>

        <div class="container" *ngIf="isAdmin">
			To view the list of all parents/guardians, <a routerLink="/guardians">click here</a>.
		</div>		

	</div>
</div>
 
 