<!--
# Filename: student.component.html
# Date: 16 Aug 2019
# Author: ISG IT Department
# Purpose: User Interface for student information form
-->

<div class="card m-3">
    <h4 class="card-header">Student Information Form</h4>
  
    <div class="card-body">

      <div class="alert alert-warning" *ngIf="studentForm.dirty && studentForm.invalid">Enter valid values</div>
      <div class="alert alert-warning" *ngIf="firstName.dirty && firstName.invalid">Enter at least 3 characters in First Name</div>
      <div class="alert alert-warning" *ngIf="lastName.dirty && lastName.invalid">Enter at least 3 characters in Last Name</div>
      <div class="alert alert-warning" *ngIf="dob.dirty && dob.invalid">Enter valid Start Date</div>
      <div class="alert alert-warning" *ngIf="age.dirty && age.invalid">Enter valid Age</div>
  
      <form #studentForm="ngForm" (ngSubmit)="saveStudent( )" >
  
        <div class="form-row">
  
          <!--Input for Student First Name-->
          <div class="form-group col-md-4">
            <label>First Name:</label>
            <input type="text" #firstName="ngModel"
                [(ngModel)]="student.firstName" class="form-control"
                name="firstName" required="required" minlength="3">
          </div>
  
          <!--Input for Student Middle Name-->
          <div class="form-group col-md-4">
            <label>Middle Name:</label>
            <input type="text" #middlename="ngModel"
                [(ngModel)]="student.middlename" class="form-control"
                name="middlename" required="required" minlength="3">
          </div>
  
          <!--Input for Student Last Name-->
          <div class="form-group col-md-4">
            <label>Last Name:</label>
            <input type="text" #lastName="ngModel"
                [(ngModel)]="student.lastName" class="form-control"
                name="lastName" required="required" minlength="3">
          </div>
  
        </div><!--End of form row for Student's name-->
  
        <div class="form-row">
  
          <div class="form-group col">
            <label>Gender:</label>
            <select class="form-control" (ngModelChange)="selectGender($event)" [(ngModel)]="student.gender">
                <option *ngFor="let oneOption of listGender" [ngValue]="oneOption.id">{{oneOption.name}}"</option>
            </select>
          </div>
  
          <div class="form-group col">
            <label>Date of Birth:</label>            
            <input type="date" #dob="ngModel"
              [ngModel]="student.dob | date: 'yyyy-MM-dd' "
              (ngModelChange)="student.dob = $event" 
              class="form-control" name="dob" required="required">
          </div>
  
          <div class="form-group col">
            <label>Age:</label>
            <input type="number" #age="ngModel"
                [(ngModel)]="student.age" class="form-control"
                name="age" required="required">
          </div>
        </div><!--End of form row--><!--End of form row for Student gender, age-->
  
        <div class="form-group form-check-inline">
          <input type="checkbox" (click)="toggleShow( )" class="form-check-input" />
          <label class="form-check-label">Allergies/Medical Conditions</label>
        </div>
        <!--If the user checks the checkbox then textArea will appear-->
        <div *ngIf="isShown" id="divshow" class="form-group" >
          <textarea  rows="2" #textArea="ngModel" [(ngModel)]="student.allerges" name="textArea" class="form-control"></textarea>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label>Select of Day</label>           
            <select class="form-control" (ngModelChange)="selectDayChange($event)" [(ngModel)]=student.classDay>
              <option *ngFor="let oneOption of listDays" [ngValue]="oneOption.id">{{oneOption.name}}</option>
            </select>
          </div>
          
          <div class="form-group col">
            <label>Select the class according to age group</label>
            <select  class="form-control" (ngModelChange)="selectAgeGroup($event)" [(ngModel)]=student.classSelection>
              <option *ngFor="let oneOption of listAgeGroup" [ngValue]="oneOption.id">{{oneOption.name}}</option>
              
            </select>
          </div>
        </div><!--End of form row--><!--End of form row for Student class and class selection-->

        <div class="card-footer text-center">
          <input type="submit" class="btn btn-primary mr-2" value="Save Form" />
          
          <input type="reset" value="Clear Form"      />
          <!--<input type="reset"  class="btn btn-secondary" value='Clear Form' />-->
        </div><!--End of card footer-->
      </form>
  
    </div><!--End of the Card Body-->
  
  </div><!--End of card-->
  