<!--
# Date: 16 Aug 2019
# Author: ISG IT Department
#
# Copyright 2019-$Date: 16 Aug 2019 by Islamic Society of Germantown
# All Rights Reserved.  Printed in the United States of America.
# No part of this document may be reproduced, decompiled, reverse
# engineered, disassembled, analyzed or otherwise manipulated to
# discover the source code of the software and/or its underlying
# methods/modes of operation, stored in a retrieval system or
# transmitted in any form or by any means, electronic, mechanical,
# photocopying, recording, or otherwise without the prior written
# permission of Islamic Society of Germantown.
#
# Purpose: Provide User Interface.
-->

<div class="card m-3">
    <h4 class="card-header">Student Information Form</h4>
  
    <div class="card-body">
  
      <form #studentForm="ngForm" (ngSubmit)="saveStudent()" >
  
        <div class="form-row">
  
          <!--Input for Student First Name-->
          <div class="form-group col-md-4">
            <label>First Name:</label>
            <input type="text" #firstName="ngModel"
                [(ngModel)]="student.firstName" class="form-control"
                name="firstName" required="required" minlength="3">
          </div>
  
          <!--Input for Student Middle Name-->
          <div class="form-group col-md-4">
            <label>Middle Name:</label>
            <input type="text" #middleName="ngModel"
                [(ngModel)]="student.middleName" class="form-control"
                name="middleName" required="required" minlength="3">
          </div>
  
          <!--Input for Student Last Name-->
          <div class="form-group col-md-4">
            <label>Last Name:</label>
            <input type="text" #lastName="ngModel"
                [(ngModel)]="student.lastName" class="form-control"
                name="lastName" required="required" minlength="3">
          </div>
  
        </div><!--End of form row for Student's name-->
  
        <div class="form-row">
  
          <div class="form-group col">
            <label>Gender:</label>
            <select class="form-control">
              <option value="unknown">UnKnown</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
  
          <div class="form-group col">
            <label>Date of Birth:</label>
            <input type="date" class="form-control" />
          </div>
  
          <div class="form-group col">
            <label>Age:</label>
            <input type="number" class="form-control" />
          </div>
        </div><!--End of form row--><!--End of form row for Student gender, age-->
  
        <div class="form-group form-check-inline">
          <input type="checkbox"  class="form-check-input" />
          <label class="form-check-label">Allergies/Medical Conditions</label>
        </div>
  
        <div class="form-group" >
          <textarea  rows="2" class="form-control"></textarea>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label>Select of Day</label>
            <select class="form-control">
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
          </div>
          
          <div class="form-group col">
            <label>Select the class according to age group</label>
            <select  class="form-control">
              <option value="foundtion">Foundition - 5 & 6 years old</option>
              <option value="beginner">Beginner - 7 & 8 years old</option>
              <option value="intermediate">Intermediate - 9 & 10 years old</option>
              <option value="proficient">Proficient - 11 & 12 years old</option>
              <option value="advanced">Advanced - 13 & 14 years old</option>
              <option value="youth">Youth - 15 & 16 years old</option>
              <option value="adult">Adult - 17 & 18 years old</option>
            </select>
          </div>
        </div><!--End of form row--><!--End of form row for Student class and class selection-->

        <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary mr-2">Save Form</button>
      
          <button type="reset"  class="btn btn-secondary">Clear Form</button>
        </div><!--End of card footer-->
      </form>
  
    </div><!--End of the Card Body-->
  
    
  
  </div><!--End of card-->
  