<div class="container">
	<h1>Course</h1>
	<div class="alert alert-warning" *ngIf="courseForm.dirty && courseForm.invalid">Enter valid values</div>
	<div class="alert alert-warning" *ngIf="name.dirty && name.invalid">Enter at least 5 characters in Name</div>
	<div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Enter at least 5 characters in Description</div>
	<div class="alert alert-warning" *ngIf="startDate.dirty && startDate.invalid">Enter valid Start Date</div>
	<div class="alert alert-warning" *ngIf="endDate.dirty && endDate.invalid">Enter valid Target Date</div>

	<form (ngSubmit)="!courseForm.invalid && saveCourse()" #courseForm="ngForm">
		<fieldset class="form-group">
			<label>Name</label>
			<input type="text" #name="ngModel" 
				[(ngModel)]="course.name" class="form-control" 
				name="name" required="required" minlength="5">
		</fieldset>

		<fieldset class="form-group">
			<label>Description</label>
			<input type="text" #description="ngModel" 
				[(ngModel)]="course.description" class="form-control" 
				name="description" required="required" minlength="5">
		</fieldset>

		<fieldset class="form-group">
			<label>Start Date</label>
			<input type="date" #startDate="ngModel"
			[ngModel]="course.startDate | date: 'yyyy-MM-dd' "
			(ngModelChange)="course.startDate = $event" 
			class="form-control" name="startDate" required="required">
		</fieldset>

		<fieldset class="form-group">
			<label>End Date</label>
			<input type="date" #endDate="ngModel"
			[ngModel]="course.endDate | date: 'yyyy-MM-dd' " 
			(ngModelChange)="course.endDate = $event"
			class="form-control" name="endDate" required="endDate">
		</fieldset>

		<button type="submit" class="btn btn-success">Save</button>
	</form>
</div>