<div class="container">

    <h3>List of Guardians</h3>

    <div class="alert alert-success" *ngIf="message">{{message}}</div>

    <table class="table">
        <thead>
            <tr>
                <th>Guardien Full Name</th>
                <th>Guardien E-Mail Address</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let pg of ParentGuard">
                <td>{{pg.pgName}}</td>
                <td>{{pg.pgEmail}}</td>
                <td><button (click)="updateGuardian(pg.id)" class="btn btn-btn btn-info">View|Edit</button></td>
                <td><button (click)="deleteGuardian(pg.id)" class="btn btn-danger">Delete</button></td>    
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button (click)="addGuardian()" class="btn btn-success">Add Guardian</button>
    </div>
</div>
