<div class="container">

    <h3>List of Guardien Information</h3>

    <div class="alert alert-success" *ngIf="message">{{message}}</div>

    <table class="table">
        <thead>
            <tr>
                <th>Guardien Full Name</th>
                <th>Guardien E-Mail Address</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let g of Guardiens">
                <td>{{G.name}}</td>
                <td>{{G.email}}</td>
                <td><button (click)="updateGuardien(g.id)" class="btn btn-btn btn-info">View|Edit</button></td>
                <td><button (click)="deleteGuardien(g.id)" class="btn btn-danger">Delete</button></td>    
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button (click)="addGuardien( )" class="btn btn-success">Add Guardien</button>
    </div>
</div>
