


<div class="card m-3">
    <h4 class="card-header">guardien </h4>

    <div class="card-body">

        <form [formGroup]="registerGuardienForm" (ngSubmit)="saveGuardienform(saveGuardienform)" >
    </form>
            <div class="form-row">

                <!--Input for guardien Name-->
                <div class="form-group col">
                    <label>Full Name:</label>
                    <input type="text" class="form-control" formControlName="GuardName" />
                </div>

                <div class="form-group col">
                    <label>AddressOne:</label>
                    <input type="text" class="form-control" formControlName="primaryadress" />
                </div>
            </div><!--End of form-row for name and relationship-->
            
            <div class="form-row">   
             
                <div class="form-group col">
                    <label> AdressTwo:</label>
                    <input type="text" class="form-control" formControlName="secondary adress" />
                </div>
                <!--Input for city -->
                <div class="form-group col">
                    <label> city:</label>
                    <input type="text" class="form-control" formControlName="city" />
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col">
                    <label> State:</label>
                    <input type="text" class="form-control" formControlName="state" />
                </div>
                <div class="form-group col">
                    <label> Zipcode:</label>
                    <input type="text" class="form-control" formControlName="zipcode" />
                  <div>
              <div class="form-group col">
                    <label> Phone:</label>
                    <input type="tel" class="form-control" formControlName="primary phone" />
                </div>
                 <div class="form row">
               div class="form-group col">
                    <label>Alt_Phone:</label>
                    <input type="tel" class="form-control" formControlName="secondary phone" />
                </div>
                 div class="form-group col">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="primary email" />
            </div>
                       div class="form-group col">
                    <label>Alt_Email</label>
                    <input type="email" class="form-control" formControlName="secondaryemail" />  

    </div>
    <!--End of the Card Body-->

    <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary mr-2">Save Form</button>

        <button type="reset" class="btn btn-secondary">Clear Form</button>
    </div>
    <!--End of card footer-->

</div>

<!--End of card-->