<div class="container">
    <div class="jumbotron">
        <div class="display-4">
            <strong>{{currentStudent.firstName + ' ' + currentStudent.middlename + ' ' + currentStudent.lastName | uppercase}}</strong> details are displayed...
        </div>
    </div>
    <div class="jumbotron">
        <div><span class="font-weight-bold">Gender: </span>{{currentStudent.gender}}</div>
        <div><span class="font-weight-bold">Date of Birth: </span>{{currentStudent.dob | date: 'yyyy-MM-dd'}}</div>
        <div><span class="font-weight-bold">Age: </span>{{currentStudent.age}}</div>
        <div><span class="font-weight-bold">Allergies/Medical Conditions: </span>{{currentStudent.allerges}}</div>
        <div><span class="font-weight-bold">Class Day: </span>{{currentStudent.classDay}}</div>
        <div><span class="font-weight-bold">Age Group: </span>{{currentStudent.classSelection}}</div>        
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div><span class="font-weight-bold">Contact Full Name: </span>{{currentStudent.contact.contactName}}</div>
        <div><span class="font-weight-bold">Contact Phone Number: </span>{{currentStudent.contact.contactPhoneNumber}}</div>
        <div><span class="font-weight-bold">Contact Email: </span>{{currentStudent.contact.contactEmail}}</div>
        <div><span class="font-weight-bold">Contact Alt Phone Number: </span>{{currentStudent.contact.contactAltPhoneNumber}}</div>
        <div><span class="font-weight-bold">Contact Alt Email: </span>{{currentStudent.contact.contactAltEmail}}</div>
        <div><span class="font-weight-bold">Contact Relationship To Student: </span>{{currentStudent.contact.contactRelationshipToStudent}}</div>
    </div>
</div>

<div class="container">
    <h3>Parent(s)/Guardian(s)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>E-Mail</th>
                <th>Relationship To Student</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let pg of currentStudent.parentGuardians">
                <td>{{pg.pgName}}</td>
                <td>{{pg.pgAddressOne + pg.pgCity + pg.pgState + pg.pgZipCode}}</td>
                <td>{{pg.pgPhoneNumber}}</td>
                <td>{{pg.pgEmail}}</td>
                <td>{{pg.pgRelationshipToStudent}}</td>
                <td *ngIf="isAdmin"><button (click)="updateGuardian(pg.parentId)" class="btn btn-success">Edit</button></td>
                <td *ngIf="isAdmin"><button (click)="deleteGuardian(pg.parentId)" class="btn btn-danger">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>