<div class="container">
    <img src="assets/images/isg-image2.png" alt="image">
</div>

<div class="container">
    <div class="jumbotron">
        <span>
            <h5>SCHOOL</h5><br><br>
        </span>
        <span>
            <h3>Please visit <a routerLink="/login">http://school.isgtown.org</a> to register for our Weekend
                school.
            </h3><br>
        </span>
        <span>
            <h5>ISG School Announcements</h5><br>
        </span>
        <span>
            The ISG Weekend school parents orientation and registration for the year 2020/2021 (First Term will take
            place <b>Saturday, September 19th at 10:00 AM</b>
            for both Saturday and Sunday session. Only parents are requested to come for the orientation/registration
            and payments are due at the same time to reserve
            the seat. Due to high demand and limited space we require parents to register and pay at the same time. The
            first day of class will begin
            on September 20th at 10:30 AM. If you have any questions, please feel free to contact us.
        </span>
    </div>
</div>