<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
		<div class="nav-item" *ngIf="!currentUser">
			<a href="https://www.isgtown.org/" class="navbar-brand">ISG</a>
		</div>
		<ul class="navbar-nav" *ngIf="!currentUser">
			<li class="nav-item">
				<a routerLink="" class="nav-link">
					<span class="glyphicon glyphicon-user"></span>Contact
				</a>
			</li>
	
			<li class="nav-item">
				<a routerLink="" class="nav-link">
					<span class="glyphicon glyphicon-log-in"></span>About
				</a>
			</li>
		</ul>

		<ul class="navbar-nav" *ngIf="currentUser">
			<li class="nav-item" *ngIf="isAdmin">
				<a routerLink="/admin" class="nav-link">Admin Panel</a>
			</li>
			<li class="nav-item">
				<a routerLink="/welcome" class="nav-link">Home</a>
			</li>

			<li class="nav-item">
				<a  routerLink="/contacts" class="nav-link">Contacts</a>
			<li>

			<li class="nav-item">
				<a  routerLink="/tests" class="nav-link">Tests</a>
			<li>
			
			<li class="nav-item">
				<a  routerLink="/students" class="nav-link">Students</a>
			<li>		    
		</ul>
		
		<!-- <ul class="navbar-nav ml-auto" *ngIf="!currentUser">
			<li class="nav-item">
				<a routerLink="/register" class="nav-link">
					<span class="glyphicon glyphicon-user"></span> Sign Up
				</a>
			</li>
	
			<li class="nav-item">
				<a routerLink="/login" class="nav-link">
					<span class="glyphicon glyphicon-log-in"></span> Login
				</a>
			</li>
		</ul> -->

		<ul class="navbar-nav navbar-collapse justify-content-end" *ngIf="currentUser">			
			<li class="nav-item" *ngIf="currentUser">
				<a routerLink="/profile" class="nav-link">
					<span class="glyphicon glyphicon-user"></span> {{currentUser.username}}
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="/logout" class="nav-link">Logout</a>
			</li>
		</ul>

	</nav>
</header>